/*
body {
	font-family: Century Gothic;
	background-color: lavender;
	width: 1000;
	margin-left: auto;
	margin-right: auto;
}

button {
	margin-bottom: .5em;
	margin-left: .25em;
	margin-right: .25em;
<!--	font-family: Century Gothic; -->

}
*/

.notSelectable {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.padbg {
	background-color: white;
}

.legend {
	background-color: red;
}

.bigBlock {
	background-color: blue;
}

.paramLine {
	stroke: darkblue;
	stroke-width: 3;
	stroke-linecap: round;
	marker-end: circle;
	/* marker start, mid, end */
}

